@font-face {
    font-family: "Rubik";
    src: url(./fonts/Rubik.ttf);
    font-display: swap;
}
@font-face {
    font-family: "Rubik-700";
    src: url(./fonts/Rubik-700.ttf);
    font-display: swap;
}
